.landpage {
    height: 100%;  
    display: flex;
    align-items: center;
    background-image: url(catbutterfly.jpg);
    background-size: cover;
}

.index, .signinform, .signupform {
    font-family: 'Roboto', sans-serif;
    text-shadow: 0px 4px 7px rgb(31, 29, 29);
    z-index: 3;
}

.index {
    color: rgb(236, 230, 222);
}

.signinform {
    color: rgb(240, 237, 230);
}

.signupform {
    color: rgb(240, 237, 230);
    
}


.login {
    height: 100%;  
    display: flex;
    align-items: center;
    background-image: url("coolcats.jpg");
    background-size: cover;
}

.signup {
    height: 100%;  
    display: flex;
    align-items: center;
    background-image: url("cateyes.jpg");
    background-size: cover;
}

.introtext {
    font-size: 0.7em;
}



.signinform, .signupform {
    background-color: rgb(223, 222, 219, 0.2);
    border-radius: 0.4em;
    padding: 1em;
    line-height: 50%;
    z-index: 1;
}

.gobtn {
    margin-top: 1em;
}

.usernameSi, .passwordSi {
    padding-top: 1.4em;
    font-size: 0.7em;
    z-index: 2;    
}

input[type=text], input[type=password] {
    background-color: rgba(243, 239, 239, 0.9);
    border-radius: 1em;
    border: none;
    color: rgb(15, 15, 15);

}

.title {
    font-size: 1.6em;
}


  
