
.index, .signinform, .signupform {
    font-family: 'Roboto', sans-serif;
    text-shadow: 0px 4px 7px rgb(31, 29, 29);
    z-index: 3;
}

.index {
    color: rgb(236, 230, 222);
}

.signinform {
    color: rgb(240, 237, 230);
}

.signupform {
    color: rgb(240, 237, 230);
    
}


#cover {
    background: #222 url('netcat.jpg') center center no-repeat;
    background-size: cover;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    position: relative;
}

#cover2 {
    background: #222 url('catlook.jpg') center center no-repeat;
    background-size: cover;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    position: relative;
}

#cover3 {
    background: #222 url('catbutterfly.jpg') center center no-repeat;
    background-size: cover;
    height: 100%;
    text-align: left;
    display: flex;
    align-items: center;
    position: relative;
}

#cover-caption {
    width: 100%;
    position: relative;
    z-index: 1;
}



.introtext {
    font-size: 0.7em;
}



.signinform, .signupform {
    background-color: rgb(223, 222, 219, 0.2);
    border-radius: 0.4em;
    padding: 1em;
    line-height: 50%;
    z-index: 1;
}

.gobtn {
    margin-top: 1em;
}



.usernameSi, .passwordSi {
    padding-top: 1.4em;
    font-size: 0.7em;
    z-index: 2;    
}

input[type=text], input[type=password] {
    background-color: rgba(243, 239, 239, 0.9);
    border-radius: 1em;
    border: none;
    color: rgb(15, 15, 15);

}

.title {
    color: rgb(243, 240, 237);
    font-family: 'Archivo Black', sans-serif;
    text-shadow: 0px 4px 7px rgb(31, 29, 29);
}


  
